<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jianqiaoguoye.infra.mapper.RefundOrderMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.jianqiaoguoye.domain.entity.RefundOrder">
        <result column="refund_order_id" property="refundOrderId" jdbcType="DECIMAL"/>
        <result column="refund_order_code" property="refundOrderCode" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="DECIMAL"/>
        <result column="refund_type_code" property="refundTypeCode" jdbcType="VARCHAR"/>
        <result column="refund_status_code" property="refundStatusCode" jdbcType="VARCHAR"/>
        <result column="refund_operation_status_code" property="refundOperationStatusCode" jdbcType="VARCHAR"/>
        <result column="refund_reason_code" property="refundReasonCode" jdbcType="VARCHAR"/>
        <result column="intercept_status_code" property="interceptStatusCode" jdbcType="VARCHAR"/>
        <result column="refund_note" property="refundNote" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="injured_condition_percentage" property="injuredConditionPercentage" jdbcType="DECIMAL"/>
        <result column="actual_amount" property="actualAmount" jdbcType="DECIMAL"/>
        <result column="refund_approver_id" property="refundApproverId" jdbcType="DECIMAL"/>
        <result column="refund_approved_date" property="refundApprovedDate" jdbcType="DATE"/>
        <result column="refunder_id" property="refunderId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="abnormal_type" property="abnormalType" jdbcType="VARCHAR"/>
        <result column="process_message" property="processMessage" jdbcType="VARCHAR"/>
        <result column="timeout_paid_amount" property="timeoutPaidAmount" jdbcType="DECIMAL"/>
        <result column="refund_way" property="refundWay" jdbcType="VARCHAR"/>
        <result column="is_search_refund" property="isSearchRefund" jdbcType="DECIMAL"/>
        <result column="service_note" property="serviceNote" jdbcType="VARCHAR"/>
        <result column="is_notified_success" property="isNotifiedSuccess" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>